* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  color: #6A707B;
  font-size: 16px;
}

h1 {
  color: #131821;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  gap: 1px;
  list-style: none;
  letter-spacing: 1px;
}

.nav-list-item {
  text-decoration: none;
  color: inherit;
}

.navbar {
  padding: 1em;
}

.form-container {
  width: 35.42%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F2F5FA));
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
  text-align: center;
}

.image-container {
  width: 64.58%;
  height: 100vh;
}

.icon-container {
  border-top: 2px solid #E3E3E4;
  position: absolute;
  width: 400px;
  padding: 1em;
  margin: 0 auto;
}

form {
  padding: 1em;
}

.main-img {
  position: absolute;
  height: 100vh;
}

#icon {
  width: 46px;
  height: 46px;
  color: #E3E3E4;
  border: 2px solid #E3E3E4;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  vertical-align: middle;
  padding: 5px;
}

.fa-facebook-f:hover {
  background: #4267B2;
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.fa-instagram:hover {
  background: #C13584;
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.fa-twitter:hover {
  background: #1DA1F2;
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.fa-youtube:hover {
  background: #FF0000;
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.input-wrapper {
  position: relative;
  border: 2px solid black;
}

#email-input {
  border-radius: 0px;
  position: relative;
  padding: 0px 30% 0px 10px;
}

#email-submit {
  position: absolute;
  border-style: none;
  border-radius: inherit;
  position: absolute;
  right: 5px;
  top: 3px;
}

.hidden {
  display: none;
}

.fltr-btn {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.fltr-btn-off {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

@media (max-width: 800px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
  }
  .main-img {
    position: absolute;
    height: 100vh;
    z-index: -1;
  }
}
/*# sourceMappingURL=styles.css.map */